* {
  margin: 0;
  box-sizing: border-box;
}

a {
  margin: 0 20px;
  color: unset;
  text-decoration: none;
}
.header.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #5b5656;
  box-shadow: 0px 10px 10px red;
}

@media (max-width: 800px) {
  .iconos p {
    font-size: 11px;
  }
}
