.cotizacion {
  margin: 20px auto;
  padding: 10px 0;
  border-radius: 20px;
  background-color: #767575;
  box-shadow: 0px 10px 10px rgb(132, 57, 57);
  text-align: center;

  width: 50%;
  font-size: 15px;
}
.cotizacion h1 {
  color: #fff;
}

.listaDelCarrito > div {
  background-color: #e4e0e0;
  margin-top: 12px;
}

.listaDelCarrito > div:nth-child(1) {
  background-color: #e4e0e0;
  margin-top: 0;
}

.listaDelCarrito > div:last-child {
 
  margin-bottom: 12px;
}

.cajaMontoTotal {
  background-color: rgb(255, 255, 255) !important;
  border-radius: 16px;
  padding: 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cajaMontoTotal p {
  color: initial;
}
button {
  cursor: pointer;
  background-color: red;
  border-radius: 30px;
  padding: 10px 10px;
}

@media (max-width: 800px) {
  .cotizacion {
    font-size: 10px;
    width: 60%;
  }
}

@media (max-width: 960px) {
  .cajaMontoTotal p {
    color: initial;
    font-size: 16px;
  }
}
