.caja{
 display: flex !important;
    justify-items: center !important;
    justify-content: center !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    margin: 20px ;
    
  }