.padre {
  margin: 10px 50px !important;
  width: 500px !important;
  box-sizing: border-box !important;
  
}
.signo {
  background-color: rgb(230, 32, 32);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.typo{
  display: flex !important;
  justify-content: flex-start !important;
}
.typo{
  position: relative;
  top: 81px;
}
.precio{
  position: relative;
  left: 160px;
}
.mas{
  position: relative;
  left: 170px;
}
.css-nxzi85-MuiCardMedia-root{
  margin: 20px;
  border-radius: 10px;
}


@media (max-width: 350px) {
  .mas{
    left: 140px;
  }
  .precio{
    left: 140px;
  }
  .metro{
    position: relative;
    right: 10px !important;
   
  }
  
}

