.card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 32px;
  border-radius: 16px;
}

.card > div:nth-child(odd) {
  width: 25%;
}

.card > div:nth-child(even) {
  width: 50%;
}

.card > div:nth-child(3) {
  text-align: right;
}

.productImage {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.productName {
  font-size: 30px;
 margin: 0 50px;
}

.qtyControl {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid black;
}

.productPrice {
  font-size: 24px;
  margin-bottom: 12px;
}

.productQty {
  color: initial;
  font-size: 20px;
  margin: 0 12px;
  display: inline-block;
 
 
  

}

@media (max-width: 490px) {
  .qtyControl {
    width: 30px;
    height: 30px;
    margin-left: 60px;

   
 
  }
  .productQty {
    color: initial;
    font-size: 18px;
    margin: 0 35px;
    text-align: center;
  
  }
  .productName {
    font-size: 20px;
    margin: 0 30px;
    text-align: center;
  
  
}
}